.login-box {
    background: white;
    text-align: left;
    padding: 20px;
}

.login-box label {
    font-weight: bold;
    font-size: 1.4rem;
}

#feature_login .card-header, #feature_signup .card-header {
    background-color: rgba(0,0,0,.03);
    color:white;
}

#feature_login.card, #feature_signup.card {
    border: solid 0px transparent;
    border-radius: 0px;
    max-width: 400px;
    margin: auto;
}

#feature_login label, #feature_signup label {
    font-weight: bold;
    text-transform: capitalize;
    color:white;
}

#feature_signup {
    margin-top: -24px !important;
}

input.btn, input.form-control {
    border-radius: 0px;
}

.sub-item li {
    display: block;
    float: none!important;
    width:100% !important;
}

.wc-tittle {
    min-height: 60px;
}

.p-set-1 {
    text-align: left;
    width: 550px;
    margin: auto;
    text-transform: lowercase;
    margin-bottom: 60px;
}

#menu-area {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.main-navbar {
    box-shadow: 0px 2px 4px 0px #00000024 !important;
}

.header-content {
    padding: 15% 140px 140px;
}

.payment-method-list {
    padding: 30px;
}

.payment-method-list .card-header {
    background-color: #0d3537;
    color:white;
}

.payment-method-list .card {
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 1px #ddd;
    -moz-box-shadow: 1px 1px 1px #ddd;
    box-shadow: 1px 1px 1px #ddd;
    height: 220px;
}

table td, table th {
    text-align: center;
}

.price {
    position: absolute;
    background: white;
    padding: 5px 20px;
    background: #21212096;
    color: white;
    font-size: 20px;
}

.price.reward {
    top: 0px;
    right: 0px;
}
.p-item {
    margin-right: 30px;
}
.p-item img {
    height: 300px;
}

.p-item .card-body {
    background-color: #0d3537;
    color: white;
}

/*FOR MOBILE MENU NAV*/
:root {
    --screen-width: 320px;
    --screen-height: 560px;
    --header-bg-color: #fff;
    --splash-bg-color: #368887;
}
.nav__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, .5);
    outline: 0;
    left: 25px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
    background-color: rgba(0, 0, 0, .5);
}
.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--screen-height);
    position: relative;
    z-index: 5;
    visibility: hidden;
}
.nav__item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
    transform: translateY(-40px);
}
.nav__item:nth-child(2) {
    transform: translateY(-80px);
}
.nav__item:nth-child(3) {
    transform: translateY(-120px);
}
.nav__item:nth-child(4) {
    transform: translateY(-160px);
}
.nav__item:nth-child(5) {
    transform: translateY(-200px);
}
.nav__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.menuicon {
    display: block;
    cursor: pointer;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
}
.menuicon__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
}
.menuicon__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: 144.51326;
    stroke-dasharray: 144.51326;
}
.splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
}
.splash::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--splash-bg-color);
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    will-change: transform;
}
.nav:target > .splash::after, .nav--open > .splash::after {
    transform: scale(1);
}
.nav:target .menuicon, .nav--open .menuicon {
    color: white;
    transform: rotate(180deg);
}
.nav:target .menuicon__circle, .nav--open .menuicon__circle {
    stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4), .nav--open .menuicon__bar:nth-child(4) {
    opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2), .nav--open .menuicon__bar:nth-child(2) {
    transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3), .nav--open .menuicon__bar:nth-child(3) {
    transform: rotate(-45deg);
}
.nav:target .nav__menu, .nav--open .nav__menu {
    visibility: visible;
    width: 100%;
}
.nav:target .nav__item, .nav--open .nav__item {
    opacity: 1;
    transform: translateY(0);
}
body {
    background-color: #d7d7d7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.viewport {
    width: var(--screen-width);
    height: var(--screen-height);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.header {
    height: 5rem;
    background-color: var(--header-bg-color);
}
.main {
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    grid-gap: 20px;
}
.gallery__item {
    height: 100%;
    background-color: #d8d8d8;
}
.gallery__item:hover, .gallery__item:focus {
    background-color: #a4a4a4;
}

table.table-responsive{
    display: table !important;
}

@media(max-width: 1199px) {
    .auth-box {
        display: none;
    }

    header img {
        height: 500px !important;
    }

    /*#feature_signup.card {*/
        /*padding-top: 45px !important;*/
    /*}*/
}

@media(max-width: 991px) {
    header img {
        height: 400px !important;
    }
}

@media(max-width: 768px) {
    .p-item img {
        height: 170px;
    }


}

@media(max-width: 767px) {
    nav.navbar.navbar-default.main-navbar {
        display:none;
    }
    
    header.header {
        display: block !important;
    }

    .header-content h2 {
        font-size: 48px !important;
        line-height: 53px !important;
    }

    #about {
        padding-top:60px !important;
    }

    .wc-table li {
        width: 100% !important;
    }
}

@media(max-width: 698px) {
    .about-area, #how_it_works, .about-right{
        margin-top:0px !important;
    }
}

@media (max-width: 542px) {
    .p-item {
        margin-right: 0px;
    }
}

@media(max-width: 476px) {
    .header-content h2 {
        font-size: 50px !important;
        line-height: 94px !important;
        margin-top: 100px;
    }
}

@media(max-width: 450px) {
    .header-content h2 {
        font-size: 40px !important;
    }
}

@media(max-width: 425px) {
    #contact {
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card {
        width:auto !important;
    }
   ul.sub-item li {
       margin-bottom: 10px;
   }
    /*#feature_signup.card {*/
        /*padding-top: 65px !important;*/
    /*}*/
    #checkoutPage .col-md-12 {
        padding: 0px !important;
    }

    table.table-responsive{
        width:100vw !important;
        margin: 0px !important;
        display: block !important;
    }

    .content {
    }

    .content .animated .container, .content .animated .container .col-md-12 {
        padding: 0px;
    }

    #bootstrap-data-table {
        margin-top: 10px !important;
    }

    .referral-list .col-md-12 {
        padding: 0px;
    }
}

@media(max-width: 375px) {
    header img {
        height: 370px !important;
    }
}

@media(max-width: 320px) {
    .right-panel header.header .top-right {
        padding:0px !important;
    }

    .income-header li {
        margin-right: 25px !important;
        font-size: 16px !important;
    }

    .price li {
        margin-right: 40px;
        font-size: 25px;
    }

    #claimReward {
        padding-top: 75px !important;
    }
}

